@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/css';
@import 'swiper/swiper-bundle.css';
*,
::after,
::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
p,
span {
	color: #fff;
}
.swiper-wrapper {
	width: 0;
}
